In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import warnings
warnings.filterwarnings('ignore')
#warnings.filterwarnings(action, message='', category=Warning, module='', lineno=0, append=False)

## 3.Packages and Builtin Functions

- dir(): This function takes in an object and returns the _dir_() of that object giving us the attributes of the object.

In [ ]:
name = 'Rob'
dir(name)

This code demonstrates that in Python, when you use the `dir()` function on a string object, it returns a list of all the attributes and methods of that object. `dir()` is a very useful built-in function for exploring an object's capabilities, or in other words, to see what attributes and methods are available for use on that object.
  In the example you provided, `name` is a string object with the value 'Rob'. When you call `dir(name)`, you get a list that contains all the methods of the string object, such as `upper()` for converting the string to uppercase, `lower()` for converting the string to lowercase, and `split()` for splitting the string into substrings, among others.
  Most of these methods are standard for operating on strings, while those with double underscores before and after their names, such as `__add__` and `__len__`, are Python's magic methods (also known as special methods). These methods typically serve special functions; for example, the `__add__` method implements the addition operator `+`, allowing you to concatenate two strings using `+`.
  This list is very useful for understanding what can be done with Python strings, and it also shows the dynamic nature and flexibility of the Python language. With these methods, you can easily manipulate and work with text data.

## 4.Data Types

In [ ]:
'''<class "str">
<class "int">
<class "float">
+
-
*
/'''

- real and imaginary parts of complex numbers

In [ ]:
x = 3+5j
y = 5j
x.real
x.imag

- Integers or floats can be converted into a boolean using the built-in function bool. This treats any value as 0 or 0.0 as False and any other value to be True.

In [ ]:
x
y = bool(0.0)
y
z = bool(-10)
z

- Surprisingly we can use the operators in this chapter on boolean variables. The key to note is that a value of True is evaluated as 1 and False as 0, so you can see examples of this below.

In [ ]:
x = True 
y = False
x + y
x - y
x * y
x / y

In [ ]:
x = True 
y = True
x + y
x - y
x * y
x / y

In [ ]:
x = False
y = False
x + y
x - y
x * y
x / y

- create byte, byte arrays and memory view objects

In [ ]:
x = b"Hello World"
x

y = bytearray(6)
y

z = memoryview(bytes(5))
z

## 5.Operators

- define a variable, assigning the variable

- It is a very subtle difference so you need to be careful with it. A simpler explanation is that == returns True if the variables being compared are equal, whereas is checks whether they are the same.

In [ ]:
a = 1 
a is 1 

a == 1 

a = [] 
b = [] 
a is b 

a == b

However, they are both lists so using the comparison statement == we return True as they are both empty lists. If we assigned a as a list and b = a we would get the following:

In [ ]:
a = [] 
b = a 
a is b

In [ ]:
x/y #division
x//y #floor division
x%y #modulus
x**y #exponentiation

## 6.**Dates**

- datetime()

In [ ]:
from datetime import datetime
from datetime import timedelta
from datetime import date
d1 = datetime(2017, 5, 16, 10, 0, 11)
change = timedelta(days=1, hours=2, minutes=10)
d2 = date.today()
d3 = datetime.now()
d1
d2
d3
change

In [ ]:
import datetime as dt
now_date = dt.datetime.now()
now_date

In [ ]:
moon_date = dt.datetime(1969, 7, 20)
moon_date

**notice1**

The statement `datetime.now()` directly calls the `now()` class method of the `datetime` class within the `datetime` module. The key point is that the `datetime` module and the `datetime` class have the same name, which can cause some confusion. However, when you import the `datetime` module directly, Python is able to distinguish between the module and the class because you use the fully qualified name `datetime.datetime` when calling the class method.

`datetime.now()` is a convenience function within the `datetime` module, which is actually a shorthand for `datetime.datetime.now()`, the latter being a class method of the `datetime` class. When you import the `datetime` module directly, the Python interpreter handles this situation automatically, allowing you to use `datetime.now()` directly.

Therefore, you only need to use `dt.datetime.now()` to get the current date and time when you use an import statement like `import datetime as dt`. This is because you have renamed the `datetime` module to `dt`, so you need to use `dt` to access the `datetime` class within the module.

**notice2**

`datetime` and `date`

other usages

In [ ]:
d1 = datetime(2017, 5, 17, 12, 10, 11)
d2 = datetime(2016, 4, 7, 1, 1, 1)
d1-d2

In [ ]:
date_since_moon = now_date - moon_date
date_since_moon

In [ ]:
date_since_moon.days

In [ ]:
date_since_moon.seconds

## 7.Lists

- pop

In [ ]:
stuff=[0,2,6,4] #example
stuff
stuff.pop() #removes the last item of the list 
stuff

- append

In [ ]:
stuff.append(9) #add an element to the end of the list
stuff

- remove

In [ ]:
stuff.remove(9) # by using the attribute remove,remove 9 from the list,specify the name of the item we wanted to remove
stuff

- count

In [ ]:
count_list = [1,1,1,2,3,4,4,5,6,9,9,9] #get the count of in the list
count_list
count_list.count(1)
count_list.count(4)

- reverse

In [ ]:
count_list.reverse() #reverses the elements in a list
count_list

- sort

In [ ]:
count_list.sort() #we can only use the sort method on a list of numeric values
count_list

- len

In [ ]:
len(stuff) #get the length of the list

- used negative indexing to choose item in a list

In [ ]:
stuff[-1]

- choose element

In [ ]:
stuff=[0,2,6,4] #example
stuff[1:3] #take from the element in index 1 in the list and show up to but not including element in index 3 in the list
stuff[1:] #select everything except the first element
stuff #select everything,shows the full list

stuff=[0,2,6,4] #example
new_stuff = stuff[-1:]
new_stuff
new_stuff = stuff[:-1]
new_stuff
stuff[1:8:2]

- boolean

In [ ]:
stuff=[0,2,6,4] #example
9 in stuff #If the value is in we get back a boolean value True or False.

- copy

In [ ]:
new_stuff = stuff.copy() #take a copy of the list

- clear

In [ ]:
stuff.clear() #simply put this method clears the list of all its content
stuff

- select

In [ ]:
x = range(1,7,2)
x

- obtain the start, stop and step of the range object alongside the count and index

In [ ]:
x = range(7)
x
x = x[1:]
x

x.start
x.stop
x.step
x.index(1)
x.count(1)

## 8.**Tuples**

You access them in exactly the same way and many things we covered in lists are relevant to tuples, the big difference is tuples can’t be modified.

- create

In [ ]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
numbers

- namely count

In [ ]:
new_numbers = (1, 2, 2, 2, 5, 5, 7, 9, 9, 10)
new_numbers.count(2)

- index

In [ ]:
new_numbers = (1, 2, 2, 2, 5, 5, 7, 9, 9, 10)
new_numbers.index(2)

## 9.**Dictionaries**

- definition

In [ ]:
personal_details = {}
personal_details["first name"] = "Rob"
personal_details["surname"] = "Mastrodomenico"
personal_details["gender"] = "Male"
personal_details["favourite_food"] = "Pizza"
personal_details

or

In [ ]:
person_details = dict(first_name="Rob", surname="Mastrodomenico",gender="Male", favourite_food="Pizza")

or

In [ ]:
personal_details = {"first name": "Rob", "surname": "Mastrodomenico","gender": "Male", "favourite_food": "Pizza"}

or

In [ ]:
personal_details = dict([("first name", "Rob"), ("surname", "Mastrodomenico"), ("gender", "Male"), ("favourite_food", "Pizza")])

or

In [ ]:
#using the fromkeys method.
x = ('key1', 'key2', 'key3')
y = 0
res = dict.fromkeys(x, y)
res

- deal with it in a more sophisticated way: use a try except statement.

In [ ]:
personal_details = dict([("first name", "Rob"), ("surname", "Mastrodomenico"),("gender", "Male"), ("favourite_food", "Pizza")])
personal_details
try:
	age = personal_details["age"]
except KeyError:
	age = print('whoops~')

- pop

In [ ]:
personal_details
personal_details.pop('gender')
personal_details
personal_details.popitem()
personal_details

- del: we pass the dictionary name and key combination to remove that key value pair from the dictionary

In [ ]:
personal_details = dict([("first name", "Rob"), ("surname", "Mastrodomenico"),("gender", "Male"), ("favourite_food", "Pizza")])
del personal_details['gender']
personal_details

- Earlier we mentioned how if we assign one list to another the changes are reflected. The same is true for dictionaries.

In [ ]:
his_details = personal_details

If we want to take a copy of a dictionary and independently make changes to it we can use the copy method in a similar way that we did with lists.

In [ ]:
his_details = personal_details.copy()

- clear out all contents of dictionary using the clear method

In [ ]:
personal_details.clear()

- access all keys and values from a `dictionary` using the following methods

In [ ]:
personal_details = dict([("first name", "Rob"), ("surname", "Mastrodomenico"),("gender", "Male"), ("favourite_food", "Pizza")])
personal_details.items()
personal_details.keys()
personal_details.values()

- The objects that we return can be iterated over and this is covered later when we introduce loops. However if you want to access them like we would a **list** we can cast them as such and access the relevant index positions.

In [ ]:
list(personal_details.items())[0]
list(personal_details.keys())[-1]
list(personal_details.values())[:-1]

## 10.**Sets**

They are also ***unordered*** and cannot be changed.

Here, we can see that ***the ordering of the set doesn’t resemble*** what we put into it.

Sets in Python are internally stored as `hash tables` to optimize the efficiency of lookups and duplicates removal, and this storage method **does not consider the order of the elements**. 
`Hash tables` use a `hash function` to compute a `hash value` for each element and store the elements in slots corresponding to their `hash values`. Since `hash values` are calculated by the `hash function`, they do not guarantee the order of the elements, thus the order of elements in a set is uncertain.

- create

In [ ]:
#use the curly brackets
names = {'Tony','Peter','Natasha','Wanda', 1, 2, 3}
names

or

In [ ]:
#use the set builtin function
names = set(('Tony','Peter','Natasha','Wanda', 1, 2, 3))
names
names = set(['Tony','Peter','Natasha','Wanda', 1, 2, 3])
names

or

In [ ]:
#pass in a string using the curly brackets you retain the full string in but when passed in using set the string is split into the individual characters. Again note when the characters are split there is no ordering to them.
names = {'Wanda'}
names
names = set('Wanda')
names

- notice: add `dic`,` list`,` tuple` and `set` to the `set`

In [ ]:
my_set = {'Tony','Wanda', 1, 2, (1,2,3)}
my_set

The reason we can include the **tuple** over the `dictionary`,` list` and `set` is that the tuple cannot be changed so is supported in a set.

- We can see if the value is in the `set` by using the following syntax:

In [ ]:
'Tony' in names
'Steve' in names

- add

In [ ]:
names.add('Steve')
names

- That aspect of **not having duplicate values** within the set is useful if we want to have a unique representation of values where we could have duplicates. For example, you could imagine a long `list` with lots of repeated values and you just want the unique values within it as we show below.

In [ ]:
days = ['Monday', 'Monday', 'Tuesday', 'Wednesday','Sunday', 'Sunday']
days_set = set(days)
days_set

- operate on multiple sets, obtain the unique value between two sets

In [ ]:
#use the | operator
names = {'Tony','Peter','Natasha','Wanda'}
more_names = {'Steve', 'Peter', 'Carol', 'Wanda'}
names | more_names

achieve the same result as the list is converted into a set

- Now where we used union and the | operator if we want to find out what values are in all sets we use the `intersection` method or the `&` operator.

In [ ]:
names = {'Tony','Peter','Natasha','Wanda'}
more_names = {'Steve', 'Peter', 'Carol', 'Wanda'}
names & more_names
names.intersection(more_names)

we can add non-sets into the intersection method

- look at the differences between two or more sets, then we can use the `difference` method or the `−` operator

In [ ]:
names - more_names
names.difference(more_names)

The manner in which difference is applied for more than one comparison is to **work left to right** so we first look at the difference between names and more_names and then look at the difference between this result and even_more_names.

- use the symmetric_difference method or the `^` operator

In [ ]:
names ^ more_names
names.symmetric_difference(more_names)

return back the elements that are **in either set but not in both**, so its like the or method but doesn’t include any common values.

- isdisjoint method

In [ ]:
names.isdisjoint(more_names)
more_names = {'Steve', 'Bruce', 'Carol', 'Sue'}
names.isdisjoint(more_names)

- issubset

- issuperset

- pop

- remove

- discard

- clear

- update

In [ ]:
names = {'Tony','Peter','Natasha','Wanda'}
more_names = {'Steve', 'Peter', 'Carol', 'Wanda'}
names | more_names
names
more_names
names.update(more_names)
names

The big difference here is that when you use the `|` operator you don’t change either of the sets, however using the `update` method changes the set that you have used the method for so in this case the `names` set is now the result of `names` `|` `more_names`.

- frozen set

In [ ]:
frozen_names = frozenset({'Tony','Peter','Natasha','Wanda'})
frozen_names
frozen_names = frozenset(['Tony','Peter','Natasha','Wanda'])
frozen_names
frozen_names = frozenset(('Tony','Peter','Natasha','Wanda'))
frozen_names
frozen_names = frozenset('Tony')
frozen_names

The frozen set is what the tuple is to a list in that it cannot be altered

## 11.**Loops, if, Else, and While**

- if

- else

- elif

- list

In [ ]:
people=[["Tony", "Stark", 48], ["Steve", "Rodgers", 102],["Stephen", "Strange", 42],["Natasha", "Romanof", 36], ["Peter", "Parker", 16]]
people[0][2]

- for in

- while

## 12.**Strings**

- use an `escape sequence`

In [ ]:
single_quote_string = 'string with a \' single quote'
single_quote_string

We can get away with not using `escape sequences` if we use triple quotes. So we can rewrite the previous using `triple quotes` as follows:

In [ ]:
single_quote_string = """string with a ' single quote"""
single_quote_string

- typing `backslash n` gives us a carriage return in our string. But what if we want forward `slash n` in our string, we can use what is called a `raw string`:

In [ ]:
raw_string = "This has a \n in it" 
raw_string
print(raw_string)

raw_string = r"This has a \n in it" 
raw_string
print(raw_string)

In both examples when we show the content of the string it has an extra forward slash but when it is printed this disappears. And yes if you wanted an extra slash in there just use three slashes.

In [ ]:
not_raw_string = "This has a \\\n in it" 
not_raw_string
print(not_raw_string)

In [ ]:
'''In Python, the backslash (\) is an escape character used to escape special characters. Some of the special characters that can be escaped using the backslash include:

\n: Newline character (Line Feed)

\t: Horizontal Tab

\b: Backspace

\r: Carriage Return

\f: Form Feed

\v: Vertical Tab

\\: Backslash itself

\": Double quote

\': Single quote

\a: Bell character (Alert)

\e: Escape character (Escape)

\xHH: Hexadecimal escape, where HH is a two-digit hexadecimal number

\ooo: Octal escape, where ooo is a three-digit octal number'''

- select element

- boolean

- put a variable into our string we need only define the position in the string using curly brackets and then using the format method with the arguments passed in they get assigned to the appropriate positions.

In [ ]:
first_name = "Rob"
last_name = "Mastrodomenico"
name = "First name: {}, Last name: {}".format(first_name, last_name)
name

We can also give the positions in the curly brackets to where we want the variables assigned, so we could write the following:

In [ ]:
first_name = "Rob"
last_name = "Mastrodomenico"
name = "First name: {1}, Last name: {0}".format(first_name, last_name) 
name

That is wrong but you get the point. We can also define each value as a variable and pass that variable name in the curly brackets.

In [ ]:
first_name = "Rob"
last_name = "Mastrodomenico"
name = "First name: {f}, Last name: {l}".format(f=first_name, l=last_name)
name

- convert a string to all uppercase letters and then all lowercase letters

In [ ]:
name.lower()
name.lower()

- split up strings

In [ ]:
name = "Rob Mastrodomenico"
name.split(" ")
first_name, last_name = name.split(" ")
first_name
last_name

- a comma separated string which you may find in a `csv file` can be split into the variables it contains

In [ ]:
match_details = "Manchester United,Arsenal,2,0"
match_details
match_details.split(",")
home_team, away_team = match_details.split(",")[0:2]
home_team
away_team
home_goals, away_goals = match_details.split(",")[2:4]
home_goals
away_goals

In [ ]:
#replace all the commas with colons
match_details = "Manchester United,Arsenal,2,0"
match_details
match_details.replace(",",":")

- apply the **join method** on the string containing just the `comma` and it then creates `a string of the values` in the `list` separated by the string that we applied the method on. 

  This is a very useful method when it comes to **creating strings from lists separated by a common value**.

In [ ]:
details = ['Manchester United', 'Arsenal', '2', '0']
match_details = ','.join(details)
match_details

- len

## 13.**Regular Expressions**

- package re

- finding all the characters

In [ ]:
import re
name = 'Rob Mastrodomenico'
x = re.findall("[a-m]", name)
x

- find the integer values 0–9 within a sequence

In [ ]:
txt = 'Find all numerical values like 1, 2, 3' 
x = re.findall("\d", txt)
x

In regular expressions, `\d` is a very common character class used to match any single digit character. However, there are other related usages and combinations that can be used to match different types of numeric sequences:
1. `\d+`: Matches one or more consecutive digits. For example, in the string "123abc", `\d+` will match "123".
2. `\d*`: Matches zero or more consecutive digits. For example, in the string "abc", `\d*` will match an empty string (because there are no digits).
3. `\d?`: Matches zero or one digit. For example, in the string "a1b2c3", `\d?` will match "1", "2", and "3" separately.
4. `\d{3}`: Matches exactly three consecutive digits. For example, in the string "123abc456", `\d{3}` will match "123" and "456".
5. `\d{2,4}`: Matches at least two but no more than four consecutive digits. For example, in the string "1234abc5678", `\d{2,4}` will match "1234" and "5678".
6. `^\d`: Matches a digit at the beginning of a string. For example, in the string "1abc", `^\d` will match "1".
7. `\d$`: Matches a digit at the end of a string. For example, in the string "abc1", `\d$` will match "1".
8. `[\d]`: Using `\d` within a character set, it matches any single digit. This is the same as using `\d` by itself.
9. `[^.\d]`: Using `\d` in a negated character set, it matches any single character that is not a digit. For example, in the string "a1b2c3", `[^.\d]` will match "a", "b", and "c".
10. `(\d+)`: Uses parentheses to create a capture group that matches and captures one or more consecutive digits. For example, in the string "123abc456", `(\d+)` will match "123" and "456", and these matched numbers can be processed as capture groups后续处理.
These usages can be combined and nested as needed to build more complex regular expressions, thus matching specific numeric patterns or extracting the required information.

use re.findall()

In [ ]:
x = re.findall("[0-9]", txt)
x

In [ ]:
txt = 'Find all numerical values like 1, 2, 3, 3'
x = re.findall("[0-9]", txt)
x

In [ ]:
x = re.findall("\d", txt)
x

-  look for specific patterns

In [ ]:
txt = "hello world"
x = re.findall("he..o", txt)
x
txt = "hello helpo hesoo" 
x = re.findall("he..o", txt)
x

-  search specifically on the start of the string

In [ ]:
txt ='starts at the end'
x = re.findall("^start", txt)
x

-  look at the last word in the string by using ending the searched string with the $ sign

In [ ]:
txt = 'the last word is end'
x = re.findall("end$", txt)
x

-  find the occurrences of ai followed by 0 or more x values

In [ ]:
txt = "The rain in Spain falls mainly in the plain!" 
x = re.findall("aix*", txt)
x

-  Expanding on the previous example you can find the number of instances of the string ai followed by one or more x by adding the + symbol. Applying that to the same string as before gives us the result of an empty string as we don’t have aix within it.

In [ ]:
txt = "The rain in Spain falls mainly in the plain!" 
x = re.findall("aix+", txt)
x

-  a specified number of characters, use curly brackets containing the number of instances we are interested in

In [ ]:
txt = 'The cow said moo'
x = re.findall("mo{2}", txt)
x
x = re.findall("moo", txt)
x

-  use the | symbol between the two strings, to find one or another value

In [ ]:
txt = "The Avengers are earths mightiest heroes go Avengers" 
x = re.findall("Avengers|heroes", txt)
x

-  use special sequences (returns the whitespace)

In [ ]:
txt = "Is there whitespace"
x = re.findall("\s", txt)
x

-  There are other special sequences that we can use, they are listed as follows:
    
    \A: This matches if the characters defined are at the beginning of the string "\AIt"
    
    \b: This matches if the characters defined are at the beginning or at the end of a word "\bain" r"ain\b"
    
    \B Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word (the "r" in the beginning is making sure that the string is being treated as a "raw string") r"\Bain" r"ain\B"
    
    \d Returns a match where the string contains digits (numbers from 0-9) "\d"
    
    \D Returns a match where the string DOES NOT contain digits "\D"
    
    \s Returns a match where the string contains a white space character "\s"
    
    \S Returns a match where the string DOES NOT contain a white space character "\S"
    
    \w Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character) "\w"
    
    \W Returns a match where the string DOES NOT contain any word characters "\W"
    
    \Z Returns a match if the specified characters are at the end of the string


-  split method

In [ ]:
x = re.split("\s", txt)
x

-  specify the number of times we want the split to be done by using the maxsplit argument

In [ ]:
x = re.split("\s", txt, maxsplit=1)
x
x = re.split("\s", txt, maxsplit=2)
x
x = re.split("\s", txt, maxsplit=3)
x

-  replace on a string

In [ ]:
x = re.sub("\s", "9", txt)
x

-  combine

In [ ]:
x = re.sub("\s", "9", txt, 1)
x
x = re.sub("\s", "9", txt, 2)
x
x = re.sub("\s", "9", txt, 3)
x

-  span

In [ ]:
txt = "The rain in Spain falls mainly in the plain!" 
x = re.search("ai", txt)
x.span()

more reference of reg-expression

https://www.runoob.com/python/python-reg-expressions.html

## 14.**Dealing with Files**

## 15.**Functions and Classes**

- define a function called lottery: use the command def followed by the name that you want to give the function

In [ ]:
def lottery(min, max):
    pass

- Classes: can be very powerful objects which allow us to bundle together lots of functions and variables

In [ ]:
class MyClass:
    x = 10
mc = MyClass()
mc.x

- create an init method using `__init__` this initialiser

In [ ]:
class Lottery:
    def __init__(self, min=1, max=59, draw_length=7):
        self.min = min
        self.max = max
        self.draw_length = draw_length
    def lottery(self):
        pass #codes

- in this code, we define the class in the way we did before and call it Lottery. Next, we create an init method using `__init__` this initialiser is called when we define the class so we can pass in arguments from here that can be used within the class. Note that we can use the standard defaults but these are then assigned to the class by using the self-dot syntax which allows that value to be part of class and then allowed to be used anywhere within the class. We can create the class in the following example:

In [ ]:
l = Lottery()
l.lottery()
l = Lottery(1,49,6)
l.lottery()
l = Lottery(draw_length=8)
l.lottery()

- import the package sys and look at the sys.path list

In [ ]:
import sys
sys.path

import the contents of the lottery.py file.

  If we create a file called import_lottery.py in the same directory as the lottery.py we can run the Lottery class as follows:

In [ ]:
from lottery import *

**notice**

1. `import lottery`: This import method loads the entire `lottery` module, but you need to use the `lottery.` prefix to access functions, classes, or variables within the module. For example:
   ```python
   import lottery
   lottery.draw_lottery()
   ```
   In this case, you must refer to the `draw_lottery` function with the `lottery.` prefix.
   
2. `from lottery import *`: This import method imports all available functions, classes, and variables from the `lottery` module without needing to use the module name as a prefix. This means you can directly call `draw_lottery()` without the `lottery.` prefix. For example:
   ```python
   from lottery import *
   draw_lottery()
   ```
   In this case, you can directly use `draw_lottery()`, as it has been directly imported into the current namespace.
   
However, using `from lottery import *` is not recommended because it imports all names from the module, which can lead to name conflicts, especially when the module contains many names. 

Additionally, this import method can also make the code less readable, as readers may not be clear about which module certain functions or classes are imported from.

Therefore, unless you are very sure that all names in the `lottery` module will not conflict with other names in your code, it is better to use `import lottery` and use the `lottery.` prefix to clearly indicate the module from which functions, classes, or variables are coming. This approach can avoid potential naming conflicts and improve code readability.